:root {
  --header-height: 7.5em;
  --header-padding: 1em;

  --standard-margin: 3em;

  /* rainbow colors */
  --rainbow-red: #ff0900;
  --rainbow-orange: #ff7f00;
  --rainbow-yellow: #ffef00;
  --rainbow-green: #00f11d;
  --rainbow-blue: #0079ff;
  --rainbow-purple: #a800ff;
  --rainbow-light-blue: #5bcffa;
  --rainbow-pink: #f5aab9;
  --rainbow-white: #ffffff;

  --backgrounds: white;
  --header-background: #ffeaec;
  --exit-blue: #9dd9de;
  --exit-blue-darker: #035E7B;
  --exit-orange: #f3693f;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: var(--backgrounds);
}

/* debug */

.filler {
  height: 1000px;
  width: 100%;
  background-color: blueviolet;
  position: relative;
  z-index: 0;
}

/* Animate on scroll */

.hidden-left {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s ease;
  transform: translateX(-50px);  
}

.hidden-right {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s ease;
  transform: translateX(50px);  
}

.show {
  opacity: 1;
  filter: none;
  transform: translateX(0);
  transition: all 1s ease;
}

/* headers */

header {
  position: fixed;
  background-color: var(--backgrounds);
  height: var(--header-height);
  top: 0;
  left: 0;
  width: 100%;
  padding: var(--header-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

header::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 5px;
  /* background: url(assets/ui/rainbow.svg); */
  background: linear-gradient(
    to right,
    var(--rainbow-red),
    var(--rainbow-red) 20px,
    var(--rainbow-orange) 20px,
    var(--rainbow-orange) 40px,
    var(--rainbow-yellow) 40px,
    var(--rainbow-yellow) 60px,
    var(--rainbow-green) 60px,
    var(--rainbow-green) 80px,
    var(--rainbow-blue) 80px,
    var(--rainbow-blue) 100px,
    var(--rainbow-purple) 100px,
    var(--rainbow-purple) 120px
  );
  background-size: 120px;
  background-repeat: repeat;
  z-index: 1000;
}

main {
  margin-top: var(--header-height);
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#exit-icon {
  height: 100%;
}

nav {
  display: flex;
  gap: 3em;
  margin: 0 2.5em;
}

#mobile-nav {
  display: none;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 1.25em;
  position: relative;
  transition: color 200ms;
  overflow: hidden;
  padding: 0 5px;
}

nav a:hover {
  color: blue;
  transition: color 200ms;
}

.icon {
  width: 2.5em;
}

@media screen and (max-width: 800px) {
  nav {
    display: none;
  }

  #mobile-nav {
    display: block;
    margin: 0 1em;
  }

  #mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-left: 100%;
    transition: margin-left 250ms ease-in;
    /* background-color: rgba(128, 128, 128, 0.432);
        backdrop-filter: blur(10px); */
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  #mobile-menu.visible-menu {
    margin-left: 0;
    opacity: 1;
    transition: margin-left 250ms ease-in;
  }

  #mobile-menu-header {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7.5em;
    background-color: white;
    margin-left: 10em;
    opacity: 0;
    transition: opacity 250ms;
  }

  #mobile-menu.visible-menu #mobile-menu-header {
    opacity: 1;
    transition: opacity 250ms;
    transition-delay: 100ms;
  }

  #mobile-menu-header #exit-icon {
    visibility: hidden;
  }

  #mobile-menu-header .icon {
    margin: 0 1em;
  }

  #mobile-menu-back {
    opacity: 0;
    transition: opacity 100ms ease-in;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: relative;
    background-color: white;
    /* background: linear-gradient(112deg, rgba(255,9,0,1) 0%, rgba(255,127,0,1) 20%, rgba(255,239,0,1) 40%, rgba(0,241,29,1) 60%, rgba(0,121,255,1) 80%, rgba(168,0,255,1) 100%); */
  }

  #mobile-menu-nav {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 2px;
    padding: 3em 0;
  }

  #mobile-menu.visible-menu #mobile-menu-back {
    opacity: 1;
    transition: opacity 500ms ease-in 100ms;
  }

  #mobile-menu-back::after {
    content: '';
    position: absolute;
    z-index: 105;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    filter: opacity(0.5);
    backdrop-filter: blur(5px);
    background-color: white;
    background: linear-gradient(
      112deg,
      var(--rainbow-red) 0%,
      var(--rainbow-orange) 20%,
      var(--rainbow-yellow) 40%,
      var(--rainbow-green) 60%,
      var(--rainbow-blue) 80%,
      var(--rainbow-purple) 100%
    );
  }

  #mobile-menu-back * {
    z-index: 110;
  }

  #mobile-menu-socials {
    padding: 3em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }

  #mobile-menu-nav a {
    background-color: white;
    padding: 2em;
    margin: 0 1em;
  }

  #mobile-menu-nav a:first-of-type {
    border-radius: 20px 20px 0 0 / 20px 20px 20px 20px;
  }

  #mobile-menu-nav a:last-of-type {
    border-radius: 0 0 20px 20px / 20px 20px 20px 20px;
  }
}

/* Title and background */

#background {
  width: 100%;
  height: calc(5 * var(--header-height));
  object-fit: cover;
  overflow: hidden;
}

#background-container {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url(assets/fond.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.backdrop-blur {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(7px);
  position: absolute;
  top: 0;
  left: 0;
}

#title-wrapper {
  position: relative;
  width: 100%;
  height: calc(5 * var(--header-height));
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  position: relative;
  z-index: 5;
  color: white;
}

.title h1 {
  font-size: 7em;
  margin: 0;
  font-weight: 700;
  letter-spacing: -4px;
}

.rainbow-text {
  background-color: white;
  background: linear-gradient(
    90deg,
    var(--rainbow-red) 0%,
    var(--rainbow-orange) 20%,
    var(--rainbow-yellow) 40%,
    var(--rainbow-green) 60%,
    var(--rainbow-blue) 80%,
    var(--rainbow-purple) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: center;
  position: relative;
}

.title h2 {
  font-size: 2em;
  margin: 0;
}

@media screen and (max-width: 800px) {
  #background {
    height: calc(3 * var(--header-height));
  }

  #background-container {
    background-attachment: initial;
  }

  .backdrop-blur {
    backdrop-filter: blur(3px);
  }

  #title-wrapper {
    height: calc(3 * var(--header-height));
  }

  .title h1 {
    font-size: 4em;
  }

  .title h2 {
    font-size: 1em;
  }
}

/* General header styles */

h1 {
  margin: 0;
  font-size: 2.5em;
  letter-spacing: -1px;
}

h2 {
  font-size: 1.25rem;
  margin: 0;
  letter-spacing: 0.75px;
}

p {
  font-size: 1.25rem;
  margin: 0.5rem calc(4rem + 20px);
  letter-spacing: 0.25px;
}

/* welcome header */

#welcome-wrapper {
  position: relative;
  width: 100%;
  /* height: calc(5* var(--header-height)) ; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--backgrounds);
  /* background: linear-gradient(hsl(185, 50%, 70%), hsl(185, 50%, 10%)); */
}

#welcome-box {
  position: relative;
  width: 100%;
  padding: 2em;
  margin: var(--standard-margin);
  flex: 0.75;
  /* background-color: rgba(255, 255, 255, 0.75); */
  background-color: var(--exit-blue-darker);
  border-radius: 20px;
  z-index: 6;
}

#welcome-box * {
  text-align: left;
  color: white;
}

#welcome-box h1 {
  margin: 0;
  font-size: 2.5em;
  letter-spacing: -1px;
}

#welcome-box h2 {
  font-size: 1.25rem;
  margin: 0;
  letter-spacing: 0.75px;
}

#welcome-box p {
  font-size: 1.25rem;
  margin: 0.5rem calc(4rem + 20px);
  letter-spacing: 0.25px;
}

#welcome-box p em {
  font-style: normal;
  color: var(--exit-orange);
  font-weight: 500;
}

.emoji-before, .emoji-after {
  position: relative;
  display: flex;
  align-items: center;
}

.emoji-before::before {
  content: '';
  display: inline-block;
  background-image: var(--before-back);
  background-repeat: no-repeat;
  background-size: contain;
  width: 4rem;
  height: 4rem;
  margin: 0 10px;
  transform: translateY(0.5ch);
  filter: drop-shadow(2px 2px 10px white);
}

.emoji-after::after {
  content: '';
  display: inline-block;
  background-image: var(--after-back);
  background-repeat: no-repeat;
  background-size: contain;
  width: 4rem;
  height: 4rem;
  margin: 0 10px;
  transform: translateY(0.5ch);
  filter: drop-shadow(2px 2px 10px white);
}

#welcome-box .emoji-before::before {
  filter: none;
}

@media screen and (max-width: 1300px) {
  #welcome-wrapper {
    flex-direction: column;
  }

  #welcome-box {
    margin: 2em;
    margin-bottom: 0;
    width: 95%;
  }

  #welcome-box p {
    margin: 0.5em 0;
    /* text-align: justify; */
  }

  #welcome-box .emoji-before::before {
    display: none;
  }
}

/* carousel */

:root {
  --card-width: 26em;
  --card-height: calc(9 / 16 * var(--card-width));
  --card-gap: -5em;
  --side-card-opacity: 0.25;
  --side-card-translateY: 25px;
}

#carousel-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: calc(1.5 * var(--card-height));
  /* background-color: lightblue; */
  align-items: center;
  overflow: hidden;
  z-index: 6;
  flex: 1;
  margin: 0 3em;
}

#carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transform: translateY(calc(-1 * var(--side-card-translateY)));
}

.carousel-card {
  position: absolute;
  width: var(--card-width);
  height: var(--card-height);
  background-color: var(--rainbow-green);
  background-image: var(--card-background);
  background-size: cover;
  opacity: 1;
  transition: transform 750ms ease, opacity 750ms ease, scale 100ms ease;
  z-index: 7;
}

.carousel-card:hover {
  cursor: pointer;
}

.carousel-card-content {
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 200ms ease;
}

.carousel-card-content a {
  display: none;
  color: white;
  text-shadow: 2px 2px 0px black;
  font-size: 2em;
  font-weight: 700;
  text-decoration: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.carousel-card[data-center='true']:hover {
  scale: 110%;
}

.carousel-card[data-center='true']:hover .carousel-card-content {
  opacity: 1;
  transition: opacity 200ms ease;
}

.carousel-card[data-center='true']:hover .carousel-card-content a {
  display: flex;
}

/* *********Carousel Animations********* */


.carousel-card[data-status='hidden-left'] {
  transform: translate(calc(-2 * var(--card-width) - 2 * var(--card-gap)), calc(2*var(--side-card-translateY)))
    scale(0);
    opacity: var(--side-card-opacity);
}

.carousel-card[data-status='hidden-right'] {
  transform: translate(calc(2 * var(--card-width) + 2 * var(--card-gap)), calc(2*var(--side-card-translateY)))
    scale(0);
    opacity: var(--side-card-opacity);
}

.carousel-card[data-status='side-right'] {
  transform: translate(calc(var(--card-width) + var(--card-gap)), var(--side-card-translateY));
  opacity: var(--side-card-opacity);
  z-index: 6;
}

.carousel-card[data-status='side-left'] {
  transform: translate(calc(-1 * var(--card-width) - var(--card-gap)), var(--side-card-translateY));
  opacity: var(--side-card-opacity);
  z-index: 6;
}

/* ***************************************** */

@media screen and (max-width: 800px) {
  :root {
    --card-width: 15em;
    --card-height: calc(9 / 16 * var(--card-width));
  }

  #carousel-wrapper {
    height: calc(1.5 * var(--card-height));
    overflow: hidden;
  }

  #carousel {
    transform: translateY(calc(-1/2 * var(--side-card-translateY)));
  }

  .carousel-button {
    transform: translate(0);
    display: none;
  }

  .carousel-card[data-status='side-right'] {
    transform: translateX(calc(var(--card-width) + var(--card-gap))) translateY(var(--side-card-translateY));
  }

  .carousel-card[data-status='side-left'] {
    transform: translateX(calc(-1 * var(--card-width) - var(--card-gap))) translateY(var(--side-card-translateY));
  }
}

@media screen and (max-width: 1300px) {
  #carousel-wrapper {
    position: initial;
    flex: initial;
  }
}

/* Information part */

#info-wrapper {
  /* height: calc(3 * var(--header-height)); */
  background-color: var(--exit-orange);
  display: flex;
  justify-content: space-around;
}

#info-image img {
  height: 100%;
  width: auto;
  max-width: 100%;
  /* max-height: 100%; */
  object-fit: cover;
}

#info-image {
  /* margin: var(--standard-margin) calc(var(--standard-margin) + 2rem + 10px); */
  margin-right: var(--standard-margin);
  /* height: calc(4 * var(--header-height)); */
  flex: 0.75;
}

#info-text {
  margin: var(--standard-margin);
  /* margin-top: 0; */
  flex: 1;
}

#info-text * {
  color: white;
  text-align: left;
}

#info-text h1 {
  margin: 0;
  letter-spacing: -1px;
}

#info-text .linked {
  text-align: right;
  margin-top: 1em;
}

#info-text .linked a {
  text-decoration: none;
  font-weight: 500;
  font-style: italic;
}

#info-text .linked a::after {
  content: url(assets/icons/arrow-right-solid.svg);
  margin-left: 0.5ch;
}

#info-text p {
  margin-bottom: 0;
}

#info-text p em {
  font-style: normal;
  font-weight: 700;
}

#info-text .head-right {
  text-align: right;
  justify-content: end;
  margin-top: var(--standard-margin);
}

#info-text .head-left {
  margin-top: var(--standard-margin);
}

#info-text .text-right {
  text-align: right;
  margin-left: 25%;
}

#info-text .text-left {
  margin-right: 25%;
}

#info-text .text-center {
  text-align: center;
  justify-content: center;
}

@media screen and (max-width: 1300px) {
  #info-image {
    display: none;
  }

}

@media screen and (max-width: 800px) {
  #info-text {
    margin: 2em;
  }

  #info-text p {
    line-height: 1.25;
  }

  #info-text .emoji-after::after, #info-text .emoji-before::before {
    display: none;
  }

  #info-text p, #info-text .text-left, #info-text .text-right {
    margin: 0;
    text-align: left;
  }

  #info-text .linked {
    text-align: right;
    margin-top: 1em;
  }

  #info-text .head-right {
    justify-content: start;
  }
}