<head>
    <link rel="stylesheet" href="/views/footer.css">
</head>

<footer>
    <div id="copyright">
        <img class="exit-icon" src="/assets/logo/exit_plat.png" alt="Logo d'Exit">
        <p>Copyright &copy; EXIT</p>
    </div>
    <div id="socials">
        <a href=""><img class="icon" src="/assets/logo/instagram_white.svg" alt=""></a>
        <a href=""><img class="icon" src="/assets/logo/discord_white.svg" alt=""></a>
        <a href=""><img class="icon" src="/assets/logo/twitter_white.svg" alt=""></a>
        <a href=""><img class="icon" src="/assets/logo/facebook_white.svg" alt=""></a>
    </div>
</footer>
