<head>
    <link rel="stylesheet" href="/views/footer.css">
</head>

<footer>
    <div id="copyright">
        <a class="exit-icon" href="/"> <img class="exit-icon" src="/assets/logo/exit_plat.png" alt="Logo d'Exit"></a>
        <div>
            <p style="margin-bottom: 0.5rem;">Copyright &copy; EXIT</p>
            <a href="/legal.html">Mentions légales</a>
        </div>
    </div>
    <div id="socials">
        <a href="https://www.instagram.com/exit_lyon/"><img class="icon" src="/assets/logo/instagram_white.svg"
                alt="Logo d'Instagram"></a>
        <a href="https://discord.gg/ccCAP9eCE8"><img class="icon" src="/assets/logo/discord_white.svg"
                alt="Logo de Discord"></a>
        <a href="https://twitter.com/exit_lyon"><img class="icon" src="/assets/logo/twitter_white.svg"
                alt="Logo de Twitter"></a>
        <a href="https://www.facebook.com/exit.lyon"><img class="icon" src="/assets/logo/facebook_white.svg"
                alt="Logo de Facebook"></a>
    </div>
</footer>