<head>
    <link rel="stylesheet" href="/views/header.css">
</head>

<header>
    <a class="exit-icon" href="/"><img class="exit-icon" src="/assets/logo/exit_plat.png" alt="Logo d'Exit"></a>

    <nav>
        <a href="/qui-sommes-nous.html">Qui sommes nous ?</a>
        <a href="">Nos évènements</a>
        <a href="">Gallerie photo</a>
        <a href="/contact.html">Nous contacter</a>
    </nav>

    <nav id="mobile-nav">
        <div>
            <img class="icon" id="mobile-menu-icon" src="/assets/icons/bars-solid.svg" alt="">
            <div id="mobile-menu">
                <div id="mobile-menu-header">

                    <img class="exit-icon" src="/assets/logo/exit_plat.png" alt="Logo d'Exit">
                    <img class="icon" id="mobile-menu-close-icon" src="/assets/icons/xmark-solid.svg" alt="">


                </div>
                <div id="mobile-menu-back">

                    <div id="mobile-menu-nav">
                        <a href="/qui-sommes-nous.html">Qui sommes nous ?</a>
                        <a href="">Nos évènements</a>
                        <a href="">Gallerie photo</a>
                        <a href="/contact.html">Nous contacter</a>
                    </div>
                    <div id="mobile-menu-socials">
                        <a href=""><img class="icon" src="/assets/logo/instagram_white.svg" alt=""></a>
                        <a href=""><img class="icon" src="/assets/logo/discord_white.svg" alt=""></a>
                        <a href=""><img class="icon" src="/assets/logo/twitter_white.svg" alt=""></a>
                        <a href=""><img class="icon" src="/assets/logo/facebook_white.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <script src="/views/header.js"></script>
</header>

