.content {
  padding: 0;
}

.padding-adapt {
  padding: 0 calc(6 * var(--standard-padding));
}

@media screen and (max-width: 1300px) {
  .padding-adapt {
    padding: 0 var(--standard-padding);
  }
}


.text-content div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

iframe {
  border-radius: 20px;
}

aside {
  display: contents;
}

@media screen and (max-width: 1300px) {
  iframe {
    width: 100%;
  }
}

.box-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 calc(6*var(--standard-padding));
  margin: var(--standard-margin) 0;
}

.text-content-box {
  padding: var(--standard-padding);
  background-color: var(--exit-blue-darker);
  border-radius: 20px;
}
@media screen and (max-width: 1300px) {

  .box-wrapper {
    padding: 0;
  }
  .text-content-box {
    width: 95%;
  }
}

.text-content-box * {
  color: white;
}

.text-content-box em {
  color: var(--exit-orange);
}

#socials-grid {
  margin: 2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: var(--standard-margin);
  justify-items: start;
}

#socials-grid .icon {
  width: 3em;
}

#socials-grid div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

@media screen and (max-width: 1300px) {
  .text-content-box * {
    text-align: left;
  }

  #socials-grid {
    grid-template-columns: repeat(1, 1fr);
    row-gap: var(--standard-padding);
  }
}

@media screen and (max-width: 800px) {
  #socials-grid {
    margin: 0;
    margin-top: 2em;
    row-gap: 2em;
    column-gap: 0;
  }

  #socials-grid div {
    display: flex;
    flex-direction: column;
    height: fit-content;
    /* align-items: center; */
    justify-content: flex-end;
    gap: 0.5em;
  }
}
