iframe {
  border-radius: 20px;
  width: 100%;
  align-self: center;
}

.text-content aside {
  width: 100%;
  align-self: center;
}

@media screen and (max-width: 1300px) {
  iframe {
    width: 100%;
  }
}

.text-content .map-aside > p {
  margin: 1rem 0;
}

.text-content .map-aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event-box {
  width: 100%;
  /* height: 1000px; */
  border-radius: 20px;
  padding: var(--standard-padding);
  margin: var(--standard-margin) 0;
  background-position: center;
  background-size: cover;
}

.event-box p {
  margin: 0.5rem 0;
}

.event-box p:first-of-type {
  margin-top: 0;
}

#sass {
  background-color: var(--exit-blue-darker);
  background-image: url(/assets/images/sass_night_background.jpg);
}

#sass * {
  color: white;
}

#sass em {
  color: var(--exit-orange);
}

.event-content {
  display: flex;
  gap: var(--standard-padding);
  margin-top: var(--standard-padding);
}

.event-text {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.event-text p:last-of-type {
  margin-top: auto;
}

.event-poster {
  flex: 1;
}

.event-poster img {
  width: 100%;
}

#bal {
    background-color: var(--exit-orange);
    background-image: url(/assets/images/bal_background.svg);
}

#bal p {
    font-weight: 450;
}

#bal * {
  color: black;
  /* text-shadow: 1px 1px 0px white; */
}

#bal p {
  font-weight: 500;
    /* color: #fffdb6; */
}

@media screen and (max-width: 1300px) {
  .event-content {
    flex-direction: column;
  }

  .event-poster img {
    width: 50%;
  }
  
  #bal .event-content {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 800px) {
  .event-poster img {
    width: 100%;
  }

}