main em {
    color: var(--exit-orange);
}

figure {
    margin: 0;
}

.gallery-wrapper {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: flex-start;
    margin-top: var(--standard-margin);
    gap: 8rem; 
}

.photos-wrapper {
    position: relative;
    z-index: 7;
    display: flex;
    flex-direction: column;
    gap: 8rem;
    justify-content: space-evenly;
    width: 100%;
}

.photos-wrapper img {
    /* height: calc(4*var(--header-height)); */
    width: 100%;
}

.photos-wrapper .double-image {
    display: flex;
    gap: 4rem;
    width: 100%;
}

.photos-wrapper .double-image .image {
    width: 0;
    flex: 1;
}

@media screen and (max-width: 1300px) {
    .content {
        padding: 0 var(--standard-padding);
    }

}

@media screen and (max-width: 1000px) {
    .gallery-wrapper, .photos-wrapper {
        gap: 4lh;
    }

    .photos-wrapper .double-image {
        gap: 2rem;
    }

    .caption p {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 800px) {
    .gallery-wrapper {
        flex-direction: column;
    }
}

*[data-author='flinalune'] {
    position: relative;
}

*[data-author='flinalune']::before {
    content: "\00A9" attr(data-author);
    position: absolute;
    display: block;
    bottom: 0.5rem;
    left: 0.5rem;
    color: white;
}

.image, .double-image {
    position: relative;
}

.caption {
    position: absolute;
    display: flex;
    right: 0;
    width: fit-content;
}

.caption p {
    text-align: right;
    font-style: italic;
}

.caption[data-last='true'] {
    position: inherit;
    width: 100%;
}

.caption[data-last='true'] p {
    width: 100%;
}
