main h3 {
    text-align: left;
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

main p {
    margin: 0.5rem 0;
}

body {
    height: initial;
}

main img {
    height: 2ch;
    transform: translateY(0.5ch);
}