main h1 {
  font-size: 4em;
  letter-spacing: -2px;
  font-weight: 700;
  text-align: left;
}

main h2 {
  text-align: left;
  letter-spacing: -1px;
  font-size: 2em;
}

main p {
  margin: 0;
  text-align: left;
}

main em {
  font-style: normal;
  font-weight: 700;
}

main a {
  font-style: italic;
  color: initial;
}

.content {
  width: 100%;
  padding: 0 calc(6 * var(--standard-padding));
  margin: var(--standard-margin) 0;
}

.text-content {
  margin-top: var(--standard-padding);
  display: flex;
  justify-content: space-between;
  gap: var(--standard-padding);
}

.text-content em {
  color: var(--exit-orange);
}

@media screen and (max-width: 1300px) {
  .text-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text-content p {
    margin: 0.5rem 0;
  }
}

@media screen and (max-width: 1000px) {
  .content {
    padding: 0 var(--standard-padding);
  }
  
}

@media screen and (max-width: 800px) {

  main h1 {
    font-size: 3em;
  }
}
