.hidden-left {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s ease;
  transform: translateX(-50px);
}

.hidden-right {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s ease;
  transform: translateX(50px);
}

.show {
  opacity: 1;
  filter: none;
  transform: translateX(0);
  transition: all 1s ease;
}

@media (prefers-reduced-motion: reduce) {
  .show {
    transition: none;
  }
}
